apiVersion: v1
kind: Secret
metadata:
  name: clouder-secrets
  namespace: clouder
type: Opaque
data:
  api-server-token: "{{ api_server_token.stdout }}"
  mysql-host: "{{ v_mysql_host.stdout }}"
  mysql-root-password: "{{ v_mysql_root_password.stdout }}"
  redis-host: "{{ v_redis_host.stdout }}"
  redis-password: "{{ v_redis_password.stdout }}"