apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: v1.13.3
apiServer:
  certSANs:
  - "{{ api_server_ip }}"
  - "{{ api_server_doman }}"
{% for ipaddr in groups.master %}
  - "{{ ipaddr }}"
{% endfor %}
networking:
  podSubnet: 10.244.0.0/16
  serviceSubnet: 10.96.0.0/12
controlPlaneEndpoint: "{{ api_server_doman }}:6443"
etcd:
  external:
    endpoints:
{% for etcdipaddr in groups.etcd %}
    - "https://{{ etcdipaddr }}:2379"
{% endfor %}    
    caFile: /etc/kubernetes/pki/etcd/ca.crt
    certFile: /etc/kubernetes/pki/apiserver-etcd-client.crt
    keyFile: /etc/kubernetes/pki/apiserver-etcd-client.key
